[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "/Users/albertxu/.vim/bundle/nerdtree"]
	path = /Users/albertxu/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/Users/albertxu/.vim/bundle/nerdtree-git-plugin"]
	path = /Users/albertxu/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
